
/* Your CSS Code here. */
table, th, td {
  border:1px solid black;
}
tr:nth-child(1){
  background-color: rgb(192,80,77);
}
tr:nth-child(2){
  background-color: rgb(218,150,148);
}
tr:nth-child(3){
  background-color: rgb(242,220,219);
}
tr:nth-child(4){
  background-color: rgb(217,217,217);
}